.navbar-brand img {
    width: 120px;
}

.navbar {
    left: 0;
    right: 0;
    background-color: rgb(251, 252, 252);
    box-shadow: rgba(149, 157, 165, 0.149) 0px 8px 24px;


}

.navbar-collapse {
    justify-content: end;
}


.nav-link {
    font-weight: 600;
}

.carousel-indicators [data-bs-target] {

    width: 20px;
    height: 8px;
    background-color: #dbdada;
    border-radius: 10px;
    border: 0;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    width: 40px;
    background-image: linear-gradient(to right, rgb(255, 149, 0), rgb(245, 217, 39));
}

.text-warning {
    background: linear-gradient(to right, #f5a105 0%, #f5c721 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    border: none;
    box-shadow: rgba(149, 157, 165, 0.149) 0px 8px 24px;

}

span {
    display: block;
    height: 5px;
    width: 150px;
    margin: auto;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(255, 149, 0), rgb(245, 217, 39));
}

.category {
    box-shadow: rgba(149, 157, 165, 0.148) 0px 8px 24px;
    margin-bottom: 40px;
}

/* footer */

footer {
    width: 100%;
    background: #f1f0f0;
}


footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .content p,
a {
    color: #242323c8;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 25px;
    font-weight: 600;
    color: #0c0c0ca8;
    margin-bottom: 16px;
}

footer .content p {
    text-align: justify;
}

footer .content .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content .lower i {
    padding-right: 16px;
}

footer .content .middle {
    padding-left: 80px;
}

footer .content .middle a {
    line-height: 32px;
}

footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #343232;
    background: #fef9f9;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #484747;
}

footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #fff7f7;
    background-color: #070707;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #101010c4;
    transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
    background: none;
    color: #0a0909;
}

footer .content .media-icons a {
    font-size: 25px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 55px;
    /* border: 2px solid #222222; */
    margin: 30px 15px 0 0;
    transition: all 0.3s ease;
}

.content .media-icons a:hover {}

footer .bottom {
    width: 100%;
    text-align: right;
    color: #faf6f6;
    padding: 0 40px 5px 0;
}

footer .bottom a {
    color: #090808;
}

footer a {
    transition: all 0.3s ease;
    text-decoration: none;
}

footer a:hover {
    background: linear-gradient(to right, #f5a105 0%, #f5c721 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:1100px) {
    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width:950px) {
    footer .content .box {
        width: 50%;
    }

    .content .right {
        margin-top: 40px;
    }
}

@media (max-width:560px) {
    footer {
        position: relative;
    }

    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }

    footer .content .middle {
        padding-left: 0;
    }
}